.container{
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.title{
  background-color: blue;
  color: white;
  padding: 8px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px;
  gap: 8px;
}

.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table-head{
  font-size: 16px;
  font-weight: bold;
}

.fs-16{
  font-size: 16px;
}

.filters{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty-message{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px;
  text-align: center;
  font-size: 16px;
}

.w-100{
  width: 100%;
}

.p-8{
  padding: 8px;
}
