<h1 mat-dialog-title>
  {{data ? 'Alterar dados' : 'Incluir pessoa'}}
</h1>
<form mat-dialog-content class="content" [formGroup]="form">
  <p>Preencha os campos corretamente para incluir ou atualizar os dados de uma pessoa</p>

  <mat-form-field class="form-row-1" appearance="outline">
    <mat-label>Nome completo</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <div class="form-row-2">
    <mat-form-field class="w-50" appearance="outline">
      <mat-label>Documento</mat-label>
      <input
        matInput type="text"
        mask="0.000.000 || 000.000.000-00"
        placeholder="RG ou CPF"
        formControlName="document"
      >
    </mat-form-field>

    <mat-form-field class="w-50" appearance="outline">
      <mat-label>Telefone/Celular</mat-label>
      <input
        matInput
        mask="(00) 0000-0000 || (00) 00000-0000"
        formControlName="phone"
      >
    </mat-form-field>
  </div>

</form>
<div mat-dialog-actions class="actions">
  <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-raised-button [disabled]="form.invalid || form.pristine" (click)="save()">Confirmar</button>
</div>
